body {
    max-width: 960px;
    margin: 0 auto;
    font-family: Sans-serif;
}

.square {
    width: 200px;
    height:200px;
    
    
}

.grid {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 620px;
    height: 620px;
}

.bug {
    background-image:url("tb.png");
    background-size: cover;
}
